<header>

	<div>

		<img src="img/logo.png">

		<h1><a href="./#/">The Mana Pool</a></h1>

		<nav>
			<img src="img/menu.png">
			<ul>
				<li><a class="blue-btn" href="./#/mydecks">My Decks</a></li>
				<li><a class="blue-btn" href="./#/community">Community</a></li>
				<li><a class="blue-btn" href="./#/browse">Browse</a></li>
				<li ng-show="currentUser.username"><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="main-content">

<h2 class="page-head">{{currentUser.username}}'s Account</h2>

	<section class="user-info">

		<div class="header"><h2>Your Helpfulness</h2></div>

		<h1><span>Level {{currentUser.currentLevel}} | {{currentUser.currentExp}} of 5 exp</span></h1>

	</section>

	<section class="user-info">

		<div class="header"><h2>Sign Out?</h2></div>

		<button ng-click="logout()" class="orange-btn">Logout</button>

	</section>

</section>