<header>

	<div>

		<img class="float" width="50" height="50" src="img/logo.png">

		<h1 class="float"><a ng-href="./#/mydecks">The Mana Pool</a></h1>

		<nav>
			<ul class="row">
				<li><a href="./#/mydecks">My Decks</a></li>
				<li><a href="./#/community">Community</a></li>
				<li><a class="blue-btn" ng-href="./#/browse">Browse</a></li>
				<li ng-show="currentUser.username"><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="wrapper">

<h2 class="page-head"><a ng-href="./#/browse">Browse</a> > Advanced</h2>

	<section class="advanced-search-left">

	<div class="basic-header"><label for="criteria">Advanced Search</label></div>
	<input id="criteria" type="checkbox" class="toggle">

		<ul class="advanced-inputs">
			<li>
				<form name="nameForm">
					<label for="name">Name</label>
					<input ng-model="search.name" id="name" name="name" class="advanced" type="text" required>
					<span ng-click="search.name=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="rulesForm">
					<label for="text">Rules Text</label>
					<input ng-model="search.text" id="text" name="text" class="advanced" type="text" required>
					<span ng-click="search.text=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="colorForm">
					<label for="colors">Colors (separate with ,)</label>
					<input ng-model="search.colors" ng-list id="colors" name="colors" class="advanced" type="text" required>
					<span ng-click="search.colors=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="typeForm">
					<label for="type">Type (Alt+Shift+'-')or(Alt+0151)</label>
					<input ng-model="search.type" id="type" name="type" class="advanced" type="text" required>
					<span ng-click="search.type=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="cmcForm">
					<label for="cmc">Converted Mana Cost</label>
					<input ng-model="search.cmc" id="cmc" name="cmc" class="advanced" type="text" required>
					<span ng-click="search.cmc=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="manaForm">
					<label for="manaCost">Mana Cost (separate with {})</label>
					<input ng-model="search.manaCost" id="manaCost" name="manaCost" class="advanced" type="text" required>
					<span ng-click="search.manaCost=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="powerForm">
					<label for="power">Power</label>
					<input ng-model="search.power" id="power" name="power" class="advanced" type="text" required>
					<span ng-click="search.power=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="toughnessForm">
					<label for="toughness">Toughness</label>
					<input ng-model="search.toughness" id="toughness" name="toughness" class="advanced" type="text" required>
					<span ng-click="search.toughness=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="flavorForm">
					<label for="flavor">Flavor Text</label>
					<input ng-model="search.flavor" id="flavor" name="flavor" class="advanced" type="text" required>
					<span ng-click="search.flavor=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="artistForm">
					<label for="artist">Artist</label>
					<input ng-model="search.artist" id="artist" name="artist" class="advanced" type="text" required>
					<span ng-click="search.artist=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<li>
				<form name="rarityForm">
					<label for="rarity">Rarity</label>
					<input ng-model="search.rarity" id="rarity" name="rarity" class="advanced" type="text" required>
					<span ng-click="search.rarity=''"><img src="./img/no.png"></span>
					<div style="clear:both;"></div>
				</form>
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

	<section class="results-large">

		<div class="basic-header"><h2>Search Results - Notice: cards may take a while to render <a ng-hide="expanded" ng-click="setLimit = 500; expanded = true;" href="">(Expand)</a></h2></div>

		<ul class="results-list-advanced result-list" style="min-height:60px;">
			<li ng-repeat="set in initWatch(allSetsResults) | toArray | limitTo:setLimit">
				<ul style="background: none" class="card-list-icon">
					<div class="basic-header"><h2>Results in {{set.name}} ({{(set.cards|toArray|filter:search).length}}) <a ng-href="./#/browse/sets/{{set.code}}">(View Set)</a></h2></div>

					<li ng-repeat="card in set.cards | toArray | filter:search | limitTo:6">

						<label class="toggler-label" for="toggle-{{set.$key}}-{{card.$key}}"><img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card"></label>
						<input id="toggle-{{set.$key}}-{{card.$key}}" class="toggle" type="checkbox">
						<div class="panel">
							<div class="card-info">
								<h2><a ng-href="http://gatherer.wizards.com/Pages/Card/Discussion.aspx?multiverseid={{card.multiverseid}}" target="_blank">{{card.name}}</a> {{card.manaCost}} ({{card.cmc}})</h2>
								<h4>{{card.type}}</h4>

								<p class="rules">{{card.text}}</p>
								<p class="flavor" ng-show="card.flavor">{{card.flavor}}</p>
								<h2 class="pow-tuf" ng-show="card.toughness || card.power">{{card.power}}/{{card.toughness}}</h2>

								<div class="clear"></div>

								<label for="toggle-{{set.$key}}-{{card.$key}}" class="opts orange-btn">Close</label>
							</div>
						</div>
					</li>
					<div style="clear:both;"></div>
				</ul>
			</li>
			<li ng-show="setLimit < (allSetsResults|toArray).length" ng-click="setLimit = setLimit + 10;">
				<button class="blue-btn show-more">
					Show {{setLimit+1}} - {{setLimit+11}} of {{(allSetsResults|toArray).length}}
				</button>
			</li>
		</ul>

	</section>

	<!-- <section class="results-mini">

		<div class="basic-header"><h2>Search Results - Notice: cards may take a while to render</h2></div>

		<ul class="results-list-advanced result-list" style="min-height:60px;">
			<li ng-repeat="set in initWatch(allSetsResults) | toArray | limitTo:setLimit">
				<ul style="background: none" class="card-list-icon">
					<div class="basic-header"><h2>Results in {{set.name}} ({{(set.cards|toArray|filter:search).length}}) <a ng-href="./#/browse/sets/{{set.code}}">(View Set)</a></h2></div>

					<li ng-repeat="card in set.cards | toArray | filter:search | limitTo:6">

						<label class="toggler-label" for="toggle-{{set.$key}}-{{card.$key}}"><img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card"></label>
						<input id="toggle-{{set.$key}}-{{card.$key}}" class="toggle" type="checkbox">
						<div class="panel">
							<div class="card-info">
								<h2>{{card.name}} {{card.manaCost}} ({{card.cmc}})</h2>
								<h4>{{card.type}}</h4>

								<p class="rules">{{card.text}}</p>
								<p class="flavor" ng-show="card.flavor">{{card.flavor}}</p>
								<h2 class="pow-tuf" ng-show="card.toughness || card.power">{{card.power}}/{{card.toughness}}</h2>

								<div class="clear"></div>

								<label for="toggle-{{set.$key}}-{{card.$key}}" class="opts orange-btn">Close</label>
							</div>
						</div>
					</li>
					<div style="clear:both;"></div>
				</ul>
			</li>
			<li ng-show="setLimit < (allSetsResults|toArray).length" ng-click="setLimit = setLimit + 10;" class="blue-btn pagination">Show {{setLimit}} - {{setLimit+10}} {{(allSetsResults|toArray).length}}</li>
		</ul>

	</section> -->

	<div style="clear: both;"></div>

</section>