<header>

	<div>

		<img src="img/logo.png">

		<h1><a href="index.html">The Mana Pool</a></h1>

		<nav>
			<img src="img/menu.png">
			<ul>
				<li><a class="blue-btn" href="./#/mydecks">My Decks</a></li>
				<li><a class="blue-btn active" href="./#/community">Community</a></li>
				<li><a class="blue-btn" href="./#/browse">Browse</a></li>
				<li ng-show="currentUser.username"><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="main-content">

<h2 class="page-head"><a ng-href="./#/community">Community</a> > <a ng-href="./#/community/{{deckKey}}">{{currentDeck.name}} ({{currentDeck.status}})</a> > Comments</h2>

	<section class="deck-opts">

		<div class="header"><h2>Deck Info</h2></div>

		<ul class="deck-opts-list">
			<li>
				<h3>Author: <a ng-href="./#/account">{{currentDeck.username}}</a></h3>
				<p>{{currentDeck.description}}</p>
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

	<section class="browse-section comments">

		<div class="header"><h2>Comments <a ng-hide="currentUser.id == currentDeck.id" ng-click="adding=true" ng-href="">(Add Comment)</a></h2></div>

		<ul class="card-list-icon">

			<li class="commentForm" ng-show="adding">
				<form name="commentForm">
					<div class="input-group">
						<label for="title">Title</label>
						<input ng-model="title" class="deck" id="title" name="title" type="text" required>
					</div>

					<div class="input-group">
						<label for="text">Text</label>
						<textarea ng-model="text" class="deck" id="text" name="text" required></textarea>
					</div>

					<input ng-click="addComment(); adding=false;" ng-disabled="commentForm.$invalid" class="submit" type="submit" value="Add Comment">
				</form>
			</li>

			<li class="comment" ng-repeat="comment in currentComments | toArray">
				
				<h3>{{comment.title}}</h3>
				<h4>By: <a href="./#/account">{{comment.username}}</a></h4>
				<p>{{comment.text}}</p>

				<button ng-show="comment.id==currentUser.id" ng-click="deleteComment(comment.$key)" class="delete">
					<img src="img/cross.png">
				</button>

				<ul class="reply-list">
					<li ng-repeat="reply in comment.replies">
						<p><a href="">{{reply.username}}</a>: {{reply.text}}</p>
					</li>
				</ul>

				<form name="replyForm[comment.$key]">
					<input ng-model="replyValue[comment.$key]" class="deck" type="text" placeholder="Reply" required>
					<input ng-click="addReply(comment.$key)" ng-disabled="replyForm[comment.$key].$invalid" type="submit" value="Add Reply" class="blue-btn">
				</form>
				<div style="clear:both;"></div>
				
			</li>
			<li ng-show="(currentComments|toArray).length==0">
				<h3>No comments</h3>
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

</section>