<header>

	<div>

		<img src="img/logo.png">

		<h1><a href="index.html">The Mana Pool</a></h1>

		<nav>
			<img src="img/menu.png">
			<ul>
				<li><a class="blue-btn active" href="./#/mydecks">My Decks</a></li>
				<li><a class="blue-btn" href="community.html">Community</a></li>
				<li><a class="blue-btn" href="./#/browse">Browse</a></li>
				<li><a ng-click="logout()" class="orange-btn" href="">Account</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="main-content">

<h2 class="page-head"><a ng-href="./#/mydecks">My Decks</a> >  {{currentDeck.name}}</h2>

	<section class="deck-opts">

		<div class="header"><h2>Deck Options</h2></div>

		<ul class="deck-opts-list">
			<li>
				<form name="quickForm">
					<h3>Quick List</h3>
					<div ng-repeat="card in currentCards | toArray" class="input-group">
						<label for="quick[$index]">{{card.name}} [{{card.amount}}]</label>
						<input class="deck" name="quick[$index]" id="quick[$index]" type="text">
					</div>
				</form>
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

	<section class="browse-section sets">

		<div class="header"><h2>{{currentDeck.name}} - {{currentDeck.status}}</h2></div>

		<ul class="card-list-icon">

			<li ng-repeat="card in currentCards | toArray">

				<img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card">

				<label class="toggler-label blue-btn" for="toggle-{{card.$key}}">{{card.name}} Info</label>
				<input id="toggle-{{card.$key}}" class="toggle" type="checkbox">
				<div class="panel">
					<div>
						<form>
							<label style="color: #b7d5e2;">Amount</label>
							<input ng-model="amount[$index]" type="text" class="icn-card">
							<input ng-click="changeAmount($index, card.$key)" class="blue-btn" type="submit" value="Change">

							<div style="clear:both;"></div>
						</form>
					</div>
					<div class="card-amount">
						<h1 class="amount">{{card.amount}}</h1>
					</div>
					<div style="clear: both;"></div>
					<div class="card-info">
						<h2>{{card.name}} {{card.manaCost}} ({{card.cmc}})</h2>
						<h4>{{card.type}}</h4>

						<p class="rules">{{card.text}}</p>
						<p class="flavor" ng-show="card.flavor">{{card.flavor}}</p>
						<h2 class="pow-tuf" ng-show="card.toughness || card.power">{{card.power}}/{{card.toughness}}</h2>
					</div>

					<button ng-click="removeCard(card.$key)" class="orange-btn">Remove Completely</button>
				</div>
				
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

</section>