<header>

	<div>

		<img src="img/logo.png">

		<h1><a href="index.html">The Mana Pool</a></h1>

		<nav>
			<img src="img/menu.png">
			<ul>
				<li><a class="blue-btn active" href="./#/mydecks">My Decks</a></li>
				<li><a class="blue-btn" href="./#/community">Community</a></li>
				<li><a class="blue-btn" href="./#/browse">Browse</a></li>
				<li><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="main-content">

<h2 class="page-head"><a ng-href="./#/mydecks">My Decks</a> >  {{currentDeck.name}}</h2>

	<section class="deck-opts">

		<div class="header"><h2>Deck Options</h2></div>

		<ul class="deck-opts-list">
			<li>
				<form name="deckForm">

					<div class="input-group">
						<label for="name">Name</label>
						<input ng-change="changed=true" ng-model="currentDeck.name" id="name" name="name" type="text" class="deck" required>
					</div>

					<div class="input-group">
						<label for="description">Description</label>
						<textarea ng-change="changed=true" ng-model="currentDeck.description" id="description" name="description" maxlength="300" class="deck" required></textarea>
					</div>

					<input ng-show="changed" ng-click="editDeck(currentDeck); changed=false" class="blue-btn deck-edit" type="submit" value="Save Info">
				</form>
				<!-- <div class="deck-meta-data">
					<h3>Deck Info</h3>
					<h4>Mana Balance: </h4>
					<h4>Land: </h4>
					<h4>Instants: </h4>
					<h4>Sorceries: </h4>
					<h4>Creatures: </h4>
					<h4>Artifacts: </h4>
					<h4>Enchantments: </h4>
				</div> -->
			</li>
			<li style="margin-top: 20px;">
				<div class="header"><h2>Status - ({{currentDeck.status}})</h2></div>
				<ul class="list-decks">
					<li ng-click="setStatus('tuning', 'Fine-Tuning')" class="blue-btn">
						<div class="set-image">
							<img src="./img/tuning.png">
						</div>
						<h3>Fine-Tuning</h3>
					</li>
					<li ng-click="setStatus('help', 'Need Help')" class="blue-btn">
						<div class="set-image">
							<img src="./img/help.png">
						</div>
						<h3>Need Help</h3>
					</li>
					<li ng-click="setStatus('check', 'Finished')" class="blue-btn">
						<div class="set-image">
							<img src="./img/check.png">
						</div>
						<h3>Finished</h3>
					</li>
				</ul>
			</li>
			<li>
				<button ng-hide="clicked" ng-click="clicked=true" class="orange-btn deck-edit">Delete Deck</button>
				<button ng-show="clicked" ng-click="clicked=false" class="blue-btn deck-edit">No</button>
				<button ng-show="clicked" ng-click="deleteDeck()" class="orange-btn deck-edit">Are you sure?</button>
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

	<section class="browse-section sets">

		<div class="header"><h2>Cards <a ng-href="./#/mydecks/{{deckKey}}/comments">(View Comments)</a></h2></div>

		<ul class="card-list-icon">

			<li ng-repeat="card in currentCards | toArray">

				<img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card">

				<label class="toggler-label blue-btn" for="toggle-{{card.$key}}">{{card.name}} Info</label>
				<input id="toggle-{{card.$key}}" class="toggle" type="checkbox">
				<div class="panel">
					<div>
						<!-- <form name="amount-input">
							<label style="color: #b7d5e2;">Amount</label>
							<input ng-model="amount[$index]" type="text" class="icn-card">
							<input ng-click="changeAmount($index, card.$key)" class="blue-btn" type="submit" value="Change">

							<div style="clear:both;"></div>
						</form> -->
					</div>
					<!-- <div class="card-amount">
						<h1 class="amount">{{card.amount}}</h1>
					</div> -->
					<div style="clear: both;"></div>
					<div class="card-info">
						<h2>{{card.name}} {{card.manaCost}} ({{card.cmc}})</h2>
						<h4>{{card.type}}</h4>

						<p class="rules">{{card.text}}</p>
						<p class="flavor" ng-show="card.flavor">{{card.flavor}}</p>
						<h2 class="pow-tuf" ng-show="card.toughness || card.power">{{card.power}}/{{card.toughness}}</h2>
					</div>
				</div>

				<div class="edit-panel">
					<form>
						<input ng-click="downAmount($index, card.$key)" class="stepper left" ng-disabled="card.amount<2" value="<" type="submit">
						<span>{{card.amount}}</span>
						<input ng-click="upAmount($index, card.$key)" class="stepper right" ng-disabled="card.amount>3 && card.name!='Relentless Rats' && card.name!='Shadowborn Apostle' && card.name!='Swamp' && card.name!='Island' && card.name!='Plains' && card.name!='Mountain' && card.name!='Forest'" value=">" type="submit">

						<button ng-click="removeCard(card.$key)" class="delete">
							<img src="img/cross.png">
						</button>
					</form>
				</div>
				
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

</section>