<header>

	<div>

		<img src="img/logo.png">

		<h1><a href="index.html">The Mana Pool</a></h1>

	</div>

</header>

<section class="main-content">

	<section class="deck-opts">

		<div class="header"><h2>Wanna look around? <a href="./#/community">(View Community)</a></h2></div>

	</section>

	<section class="authentication">

		<div class="registry">

			<form name="regForm">

				<div>
					<h2>Register</h2>
				</div>

				<div class="input-group">
					<label for="username">Username</label>
					<input ng-model="username" id="username" name="username" class="icn-person" type="text" pattern="{3}" required>
					<span ng-show="regForm.username.$error.required && regForm.$dirty" class="form-error">* Required</span>
					<span ng-show="regForm.usenrame.$error.pattern" class="form-error">* Must be > 3 characters</span>
				</div>

				<div class="input-group">
					<label for="email1">Email Address</label>
					<input ng-model="email1" id="email1" name="email1" class="icn-person" type="email">
					<span ng-show="regForm.email1.$error.email" class="form-error">* Must be a valid email</span>
				</div>

				<div class="input-group">
					<label for="p1">Password</label>
					<input ng-model="p1" class="icn-pass" id="p1" name="p1" type="password" pattern="{3}" required>
					<span ng-show="regForm.p1.$error.required && regForm.p1.$dirty" class="form-error">* Required</span>
				</div>

				<div style="clear: both;"></div>

				<input ng-disabled="regForm.$invalid" ng-click="register()" class="submit" type="submit" value="Register">

			</form>

		</div>

		<div class="login">

			<form name="logForm">

				<div>
					<h2>Sign In</h2>
				</div>

				<div class="input-group">
					<label for="email2">Email Address</label>
					<input ng-model="email2" id="email2" name="email2" class="icn-person" type="text" required>
					<span ng-show="logForm.username.$error.required && logForm.$dirty" class="form-error">* Required</span>
				</div>

				<div class="input-group">
					<label for="p2">Password</label>
					<input ng-model="p2" id="p2" name="p2" class="icn-pass" type="password" required>
					<span ng-show="logForm.username.$error.required && logForm.$dirty" class="form-error">* Required</span>
				</div>

				<div style="clear: both;"></div>

				<input ng-disabled="logForm.$invalid" ng-click="login()" class="submit blue-btn" type="submit" value="Sign In">

			</form>

		</div>

	</section>

</section>