<header>

	<div>

		<img class="float" width="50" height="50" src="img/logo.png">

		<h1 class="float"><a ng-href="./#/mydecks">The Mana Pool</a></h1>

		<label class="toggler-label" for="menu-toggle">
			<img ng-src="./img/menu.png">
		</label>
		<input id="menu-toggle" class="toggle" type="checkbox">

		<nav>
			<ul class="row">
				<li><a class="blue-btn" href="./#/mydecks">My Decks</a></li>
				<li><a href="./#/community">Community</a></li>
				<li><a href="./#/browse">Browse</a></li>
				<li><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="wrapper">

<h2 class="page-head"><a ng-href="./#/mydecks">My Decks</a> > <a ng-href="./#/mydecks/{{deckKey}}">{{currentDeck.name}}</a> > Comments</h2>

	<section class="comments">

		<div class="basic-header"><h2>Comments</h2></div>

		<ul class="medium-list">

			<li class="comment" ng-repeat="comment in currentComments | toArray">
				
				<h3>{{comment.title}}</h3>
				<h4>By: <a href="./#/account">{{comment.username}}</a></h4>
				<p>{{comment.text}}</p>

				<button ng-show="comment.id==currentUser.id" ng-click="deleteComment(comment.$key)" class="delete">
					<img src="img/cross.png">
				</button>

				<ul class="reply-list">
					<li ng-repeat="reply in comment.replies">
						<p><a href="">{{reply.username}}</a>: {{reply.text}}</p>
					</li>
				</ul>

				<form name="replyForm[comment.$key]">
					<input ng-model="replyValue[comment.$key]" class="deck" type="text" placeholder="Reply" required>
					<input ng-click="addReply(comment.$key)" ng-disabled="replyForm[comment.$key].$invalid" type="submit" value="Add Reply" class="blue-btn">
				</form>

				<input ng-click="upComment(comment.$key, comment.id)" ng-hide="currentUser.id == comment.id || comment.upped" class="blue-btn exp-btn" type="submit" value="+1 {{comment.username}}">
				<div style="clear:both;"></div>
				
			</li>
			<li ng-show="(currentComments|toArray).length==0">
				<h3>No comments</h3>
			</li>
			<div style="clear:both;"></div>
		</ul>

	</section>

</section>