<header>

	<div>

		<img class="float" width="50" height="50" src="img/logo.png">

		<h1 class="float"><a ng-href="./#/mydecks">The Mana Pool</a></h1>

		<label class="toggler-label" for="menu-toggle">
			<img ng-src="./img/menu.png">
		</label>
		<input id="menu-toggle" class="toggle" type="checkbox">

		<nav>
			<ul class="row">
				<li><a class="blue-btn" href="./#/mydecks">My Decks</a></li>
				<li><a href="./#/community">Community</a></li>
				<li><a href="./#/browse">Browse</a></li>
				<li ng-show="currentUser.username"><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="wrapper">

<h2 class="page-head">My Decks</h2>

<form ng-show="currentUser">
	<input ng-model="deckSearch" class="search" id="search" type="text" placeholder="Filter Decks">
</form>

	<section ng-hide="currentUser" class="user-info">

		<div class="basic-header"><h2>Not Signed in <a ng-href="./#/">(Sign In)</a></h2></div>

		<p class="body-text">To create your own decks, you must first have an account created. <a ng-href="./#/">Create one</a>, it takes almost no time at all!</p>

	</section>

	<section ng-show="currentUser" class="decks">

		<ul class="deck-list">

			<li class="add-btn" ng-hide="clicked" ng-click="clicked=true">
				<h1>Add a Deck</h1>
				<h1>[ + ]</h1>
			</li>
			<li ng-show="clicked" class="deck-form">
				<form class="deckForm" name="deckForm">

					<div>
						<h2>Create New Deck</h2>
					</div>

					<div class="input-group">
						<label for="name">Name</label>
						<input ng-model="name" id="name" name="name" type="text" class="deck" required>
						<span ng-show="deckForm.name.$error.required && deckForm.$dirty" class="form-error">* Required</span>
					</div>

					<div class="input-group">
						<label for="description">Description</label>
						<textarea ng-model="description" id="description" name="description" maxlength="300" class="deck" required></textarea>
						<span ng-show="deckForm.description.$error.required && deckForm.$dirty" class="form-error">* Required</span>
					</div>

					<div style="clear: both;"></div>

					<input ng-disabled="deckForm.$invalid" ng-click="addDeck(); clicked = false; deckForm.$setPristine();" class="submit blue-btn" type="submit" value="Create">
				</form>
			</li>

			<li ng-repeat="deck in decks | toArray | filter:deckSearch | filter:userFilter:strict">

				<h2><a ng-href="./#/mydecks/{{deck.$key}}">{{deck.name}}</a></h2>

				<div class="deck-image">
					<img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{deck.img}}&type=card">
				</div>

				<div class="meta-data">
					<img class="float" ng-src="img/{{deck.statusid}}.png">

					<h3 class="float">{{deck.status}} <a ng-show="(deck.comments|toArray).length" ng-href="./#/mydecks/{{deck.$key}}/comments">({{(deck.comments|toArray).length}} Comments)</a></h3>
				</div>

				<div class="deck-info">
					<p>{{deck.description}}</p>
				</div>
			</li>

		</ul>

	</section>

</section>