<header>

	<div>

		<img class="float" width="50" height="50" src="img/logo.png">

		<h1 class="float"><a ng-href="./#/">The Mana Pool</a></h1>

	</div>

</header>

<section class="wrapper">

	<section class="ambiguous-section">

		<div class="basic-header"><h2>Wanna look around? <a href="./#/community">(View Community)</a></h2></div>

	</section>

	<section class="authentication">

		<div class="reset">

			<form name="resetForm">

				<div class="basic-header">
					<h2>Reset Your Password <a ng-href="./#/">(Return to Home)</a></h2>
				</div>

				<div class="input-group">
					<label for="email">Email Address</label>
					<input ng-model="email" id="email" name="email" class="icn-person" type="email">
					<span ng-show="resetForm.email.$error.email" class="form-error">* Must be a valid email</span>
				</div>

				<div style="clear: both;"></div>

				<input ng-disabled="resetForm.$invalid" ng-click="sendPassEmail()" class="submit bottom blue-btn" type="submit" value="Send Email">

			</form>

		</div>

	</section>

</section>