<header>

	<div>

		<img src="img/logo.png">

		<h1><a href="index.html">The Mana Pool</a></h1>

		<nav>
			<img src="img/menu.png">
			<ul>
				<li><a class="blue-btn" href="./#/mydecks">My Decks</a></li>
				<li><a class="blue-btn" href="community.html">Community</a></li>
				<li><a class="blue-btn active" href="./#/browse">Browse</a></li>
				<li><a ng-click="logout()" class="orange-btn" href="">Account</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="main-content">

<h2 class="page-head"><a ng-href="./#/browse">Browse</a> > <a ng-href="./#/browse/sets">Sets</a> > {{currentSet.name}}</h2>

<section class="advanced-search">

<label class="blue-btn header" for="criteria">Advanced Search</label>
<input id="criteria" type="checkbox" class="toggle">

	<ul class="advanced-inputs">
		<li>
			<form name="nameForm">
				<label for="name">Name</label>
				<input ng-model="search.name" id="name" name="name" class="advanced" type="text" required>
				<span ng-click="search.name=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="rulesForm">
				<label for="text">Rules Text</label>
				<input ng-model="search.text" id="text" name="text" class="advanced" type="text" required>
				<span ng-click="search.text=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="colorForm">
				<label for="colors">Colors (separate with ,)</label>
				<input ng-model="search.colors" ng-list id="colors" name="colors" class="advanced" type="text" required>
				<span ng-click="search.colors=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="typeForm">
				<label for="type">Type</label>
				<input ng-model="search.type" id="type" name="type" class="advanced" type="text" required>
				<span ng-click="search.type=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="cmcForm">
				<label for="cmc">Converted Mana Cost</label>
				<input ng-model="search.cmc" id="cmc" name="cmc" class="advanced" type="text" required>
				<span ng-click="search.cmc=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="manaForm">
				<label for="manaCost">Mana Cost (separate with {})</label>
				<input ng-model="search.manaCost" id="manaCost" name="manaCost" class="advanced" type="text" required>
				<span ng-click="search.manaCost=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="powerForm">
				<label for="power">Power</label>
				<input ng-model="search.power" id="power" name="power" class="advanced" type="text" required>
				<span ng-click="search.power=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="toughnessForm">
				<label for="toughness">Toughness</label>
				<input ng-model="search.toughness" id="toughness" name="toughness" class="advanced" type="text" required>
				<span ng-click="search.toughness=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="flavorForm">
				<label for="flavor">Flavor Text</label>
				<input ng-model="search.flavor" id="flavor" name="flavor" class="advanced" type="text" required>
				<span ng-click="search.flavor=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="artistForm">
				<label for="artist">Artist</label>
				<input ng-model="search.artist" id="artist" name="artist" class="advanced" type="text" required>
				<span ng-click="search.artist=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="rarityForm">
				<label for="rarity">Rarity</label>
				<input ng-model="search.rarity" id="rarity" name="rarity" class="advanced" type="text" required>
				<span ng-click="search.rarity=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<div style="clear:both;"></div>
	</ul>

</section>

<section class="decks">

	<div class="header"><h2>Choose Deck - <a ng-href="./#/mydecks/{{currentDeckKey}}">{{currentDeck.name}}</a></h2></div>

	<form>
		<input ng-model="deckSearch" class="search" id="search" type="text" placeholder="Filter Decks">
		<div style="clear:both;"></div>
	</form>

	<ul class="list-decks">
		<li ng-repeat="deck in decks | toArray | filter:deckSearch | filter:currentUser.id | limitTo:5" class="blue-btn">
			<a ng-click="setCurrentDeck(deck.$key)">
			<div class="set-image">
				<img ng-src="./img/{{deck.statusid}}.png">
			</div>
			<h3>{{deck.name}} - {{deck.status}}</h3>
			</a>
		</li>
	</ul>
</section>

	<section class="browse-section sets">

		<div class="header"><h2>{{currentSet.name}} - {{currentSet.releaseDate}}</h2></div>

		<ul class="card-list-icon">

			<li ng-repeat="card in setCards | toArray | filter:search | limitTo:cardLimit">

				<img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card">

				<label class="toggler-label blue-btn" for="toggle-{{card.$key}}">{{card.name}} Info</label>
				<input id="toggle-{{card.$key}}" class="toggle" type="checkbox">
				<div class="panel">
					<div>
						<form name="amountForm[$index]">
							<label style="color: #b7d5e2;">Add to {{currentDeck.name}}</label>
							<input ng-model="amount[$index]" type="number" class="icn-card" required>
							<input ng-click="addToCurrentDeck($index, card)" class="blue-btn" type="submit" value="Add">

							<div style="clear:both;"></div>
						</form>
					</div>
					<div style="clear:both;"></div>
					<div class="card-info">
						<h2>{{card.name}} {{card.manaCost}} ({{card.cmc}})</h2>
						<h4>{{card.type}}</h4>

						<p class="rules">{{card.text}}</p>
						<p class="flavor" ng-show="card.flavor">{{card.flavor}}</p>
						<h2 class="pow-tuf" ng-show="card.toughness || card.power">{{card.power}}/{{card.toughness}}</h2>
					</div>
				</div>
				
			</li>
			<li ng-show="cardLimit < (setCards|toArray).length" ng-click="cardLimit = cardLimit + 20;" class="blue-btn">See 1 - {{cardLimit+20}} of {{(setCards|toArray).length}}</li>
		</ul>

	</section>

</section>