<header>

	<div>

		<img src="img/logo.png">

		<h1><a href="index.html">The Mana Pool</a></h1>

		<nav>
			<img src="img/menu.png">
			<ul>
				<li><a class="blue-btn" href="./#/mydecks">My Decks</a></li>
				<li><a class="blue-btn" href="./#/community">Community</a></li>
				<li><a class="blue-btn active" href="./#/browse">Browse</a></li>
				<li ng-show="currentUser.username"><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="main-content">

<h2 class="page-head"><a ng-href="./#/browse">Browse</a> > <a ng-href="./#/browse/sets">Sets</a> > {{currentSet.name}}</h2>

<section class="advanced-search">

<label class="blue-btn header" for="criteria">Advanced Search</label>
<input id="criteria" type="checkbox" class="toggle">

	<ul class="advanced-inputs">
		<li>
			<form name="nameForm">
				<label for="name">Name</label>
				<input ng-model="search.name" id="name" name="name" class="advanced" type="text" required>
				<span ng-click="search.name=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="rulesForm">
				<label for="text">Rules Text</label>
				<input ng-model="search.text" id="text" name="text" class="advanced" type="text" required>
				<span ng-click="search.text=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="colorForm">
				<label for="colors">Colors (separate with ,)</label>
				<input ng-model="search.colors" ng-list id="colors" name="colors" class="advanced" type="text" required>
				<span ng-click="search.colors=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="typeForm">
				<label for="type">Type (Alt+Shift+'-')or(Alt+0151)</label>
				<input ng-model="search.type" id="type" name="type" class="advanced" type="text" required>
				<span ng-click="search.type=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="cmcForm">
				<label for="cmc">Converted Mana Cost</label>
				<input ng-model="search.cmc" id="cmc" name="cmc" class="advanced" type="text" required>
				<span ng-click="search.cmc=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="manaForm">
				<label for="manaCost">Mana Cost (separate with {})</label>
				<input ng-model="search.manaCost" id="manaCost" name="manaCost" class="advanced" type="text" required>
				<span ng-click="search.manaCost=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="powerForm">
				<label for="power">Power</label>
				<input ng-model="search.power" id="power" name="power" class="advanced" type="text" required>
				<span ng-click="search.power=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="toughnessForm">
				<label for="toughness">Toughness</label>
				<input ng-model="search.toughness" id="toughness" name="toughness" class="advanced" type="text" required>
				<span ng-click="search.toughness=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="flavorForm">
				<label for="flavor">Flavor Text</label>
				<input ng-model="search.flavor" id="flavor" name="flavor" class="advanced" type="text" required>
				<span ng-click="search.flavor=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="artistForm">
				<label for="artist">Artist</label>
				<input ng-model="search.artist" id="artist" name="artist" class="advanced" type="text" required>
				<span ng-click="search.artist=''"><img src="./img/no.png"</span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<li>
			<form name="rarityForm">
				<label for="rarity">Rarity</label>
				<input ng-model="search.rarity" id="rarity" name="rarity" class="advanced" type="text" required>
				<span ng-click="search.rarity=''"><img src="./img/no.png"></span>
				<div style="clear:both;"></div>
			</form>
		</li>
		<div style="clear:both;"></div>
	</ul>

</section>

<section class="decks">

	<div class="header"><h2>Choose Deck - <a ng-href="./#/mydecks/{{deckKey}}">{{currentDeck.name}}</a></h2></div>

	<form>
		<input ng-model="deckSearch" class="search" id="search" type="text" placeholder="Filter Decks">
		<div style="clear:both;"></div>
	</form>

	<ul class="list-decks">
		<li ng-repeat="deck in decks | toArray | filter:deckSearch | filter:userFilter:strict | limitTo:5" ng-click="setCurrentDeck(deck.$key)" class="blue-btn">
			<div class="set-image">
				<img ng-src="./img/{{deck.statusid}}.png">
			</div>
			<h3>{{deck.name}} - {{deck.status}}</h3>
		</li>
	</ul>
</section>

	<section class="browse-section sets">

		<div class="header"><h2>{{currentSet.name}} - {{currentSet.releaseDate}} - {{(setCards|toArray|filter:search).length}} cards displayed</h2></div>

		<ul class="card-list-icon">

			<li ng-repeat="card in setCards | toArray | filter:search | limitTo:cardLimit">

				<img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card">

				<label class="toggler-label blue-btn" for="toggle-{{card.$key}}">{{card.name}} Info</label>
				<input id="toggle-{{card.$key}}" class="toggle" type="checkbox">
				<div class="panel">
					<div class="card-info">
						<h2>{{card.name}} {{card.manaCost}} ({{card.cmc}})</h2>
						<h4>{{card.type}}</h4>

						<p class="rules">{{card.text}}</p>
						<p class="flavor" ng-show="card.flavor">{{card.flavor}}</p>
						<h2 class="pow-tuf" ng-show="card.toughness || card.power">{{card.power}}/{{card.toughness}}</h2>
					</div>
				</div>

				<div ng-show="!deckSelected">
					<span>No Deck Selected</span>
				</div>

				<div ng-show="deckSelected" class="edit-panel">
					<form>
						<input ng-click="downAmount((currentDeck.cards|toArray|filter:card.multiverseid)[0].$key)" ng-show="(currentDeck.cards|toArray|filter:card.multiverseid).length" ng-disabled="(currentDeck.cards|toArray|filter:card.multiverseid)[0].amount < 2 || !(currentDeck.cards|toArray|filter:card.multiverseid).length" class="stepper left" value="<" type="submit">
						<input ng-hide="(currentDeck.cards|toArray|filter:card.multiverseid).length" ng-disabled="true" class="stepper left" value="<">
						<span ng-hide="(currentDeck.cards|toArray|filter:card.multiverseid).length">N/A</span>
						<span ng-show="(currentDeck.cards|toArray|filter:card.multiverseid).length">{{(currentDeck.cards|toArray|filter:card.multiverseid)[0].amount}}</span>
						<input ng-hide="(currentDeck.cards|toArray|filter:card.multiverseid).length" ng-click="addToCurrentDeck(card)" class="stepper right" value="Add" type="submit">
						<input ng-click="upAmount((currentDeck.cards|toArray|filter:card.multiverseid)[0].$key)" ng-show="(currentDeck.cards|toArray|filter:card.multiverseid).length" ng-disabled="(currentDeck.cards|toArray|filter:card.multiverseid)[0].amount > 3 && card.name!='Relentless Rats' && card.name!='Shadowborn Apostle' && card.name!='Swamp' && card.name!='Island' && card.name!='Plains' && card.name!='Mountain' && card.name!='Forest'" class="stepper right" value=">" type="submit">



						<button ng-show="(currentDeck.cards|toArray|filter:card.multiverseid).length" ng-click="removeCard((currentDeck.cards|toArray|filter:card.multiverseid)[0].$key)" class="delete">
							<img src="img/cross.png">
						</button>
					</form>
				</div>
				
			</li>
			<li ng-show="cardLimit < (setCards|toArray|filter:search).length" ng-click="cardLimit = cardLimit + 20;" class="blue-btn pagination">See 20 more of {{(setCards|toArray|filter:search).length}}</li>
			<div style="clear:both"></div>
		</ul>

	</section>

</section>