<header>

	<div>

		<img class="float" width="50" height="50" src="img/logo.png">

		<h1 class="float"><a ng-href="./#/mydecks">The Mana Pool</a></h1>

		<nav>
			<ul class="row">
				<li><a href="./#/mydecks">My Decks</a></li>
				<li><a href="./#/community">Community</a></li>
				<li><a class="blue-btn" href="./#/browse">Browse</a></li>
				<li ng-show="currentUser.username"><a class="orange-btn" href="./#/account">{{currentUser.username}}</a></li>
			</ul>
		</nav>

	</div>

</header>

<section class="wrapper">

<h2 class="page-head"><a ng-href="./#/browse">Browse</a> > Sets</h2>

	<section class="browse-section sets">

		<div class="basic-header"><h2>All MTG Sets</h2></div>

		<form>
			<input ng-model="setSearch" class="search icn-card" id="search" type="text" placeholder="Filter Sets">
			<div style="clear:both;"></div>
		</form>

		<ul class="small-list">
			<li ng-repeat="set in allSets | toArray | filter:setSearch | orderBy:'releaseDate':true">
				<a ng-href="./#/browse/sets/{{set.code}}">
					<img class="set-image float" ng-src="./img/sets/{{set.code}}.jpeg">
					<h3 class="float">{{set.name}}</h3>
					<div class="clear"></div>
				</a>
			</li>
		</ul>

	</section>

</section>